.upload-container {
    width: 402px;
    height: 469px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-header {
    width: 100%;
    height: 26.986px;
    padding-top: 36px;
    flex-shrink: 0;
    text-align: center;
    color: #4F4F4F;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.63px;
}

.upload-info {
    width: 100%;
    height: 14.992px;
    margin-top: 16px;
    flex-shrink: 0;
    color: #828282;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.35px;
}

.upload-image {
    display: flex;
    text-align: center;
    width: 338px;
    height: 218.903px;
    flex-shrink: 0;
    margin: 29.62px 32px 18.91px 32px;
    border-radius: 12px;
    border: 1px dashed #97BEF4;
    background: #F6F8FB;
    align-items: center;
    flex-direction: column;
}

.upload-image>img {
    margin-top: 35.84px;
    width: 114.131px;
    height: 88.241px;
    flex-shrink: 0;
}

.upload-image>p {
    margin-top: 37.26px;
    width: 166.007px;
    height: 17.991px;
    flex-shrink: 0;
    color: #BDBDBD;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.42px;
}

.or-text {
    width: 14px;
    height: 17.991px;
    flex-shrink: 0;
    color: #BDBDBD;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.42px;
}

.choose-button {
    margin-top: 21.62px;
    margin-bottom: 36px;
    width: 101px;
    flex-shrink: 0;
    border: 0px;
    border-radius: 8px;
    background: #2F80ED;
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
}

.choose-button>.button-text {
    width: 69px;
    height: 15.992px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.42px;
}

.progressbar{
    width: 368px; 
    height: 108px; 
    background: white; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.10); 
    border-radius: 12px;
    padding:36px 0px 0px 32px;
}
.progress-text{
    margin-bottom:20.74px;
    color: #4F4F4F;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word
}
.progressbar>.progress-bar{
    width: 341px;
    height: 6px;
    border-radius: 8px;
}